a {
  text-decoration: none;
}

@font-face {
  font-family: sofia;
  src: url("fonts/sofia/Sofia-Regular.ttf");
}
@font-face {
  font-family: dancin;
  src: url("fonts/dancin/DancingScript-VariableFont_wght.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.home-container {
  width: 100%;
  height: 100vh;
  background: url("img/piz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.shadow-container {
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.671);
}
.home-container header {
  width: 100%;
  height: 100px;
  display: flex;
}
#title {
  color: #fff;
  font-family: "dancin";
  font-weight: 1000;
  font-size: 35px;
  display: block;
  padding: 20px;
}
.navbar {
  padding: 30px;
}
.navbar a {
  color: #fff;
  padding: 15px;
  font-family: "sofia";
  font-size: 20px;
  transition-duration: 0.5s;
}
.signin {
  background: rgb(0, 215, 223) !important;
  font-weight: 1000;
  border-radius: 50px;
}
.signup {
  background: rgb(184, 45, 219) !important;
  font-weight: 1000;
  border-radius: 50px;
}
.home-text {
  width: 100%;
  height: 65%;
  text-align: center;
  position: relative;
}
.home-text p {
  color: #fff;
  font-family: "sofia";
  font-size: 40px;
  display: block;
  font-weight: 1000;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.explorebtn {
  color: #fff;
  background: none;
  border: 1px solid #fff;
  padding: 10px 60px 10px 60px;
  font-size: 20px;
  font-family: "sofia";
  height: 50px;
  transition-duration: 0.5s;
  margin-top: 10px;
}
.explorebtn:hover {
  background: rgba(255, 255, 255, 0.219);
}
.common-food {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.918);
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: center;
}
.signin:hover {
  background: rgb(14, 244, 252) !important;
}
.signup:hover {
  background: rgb(211, 57, 250) !important;
}
.common-food img {
  height: 300px !important;
}
.foodcard {
  text-align: center;
  margin-bottom: 30px;
  width: 420px;
  height: auto;
  margin: 20px;
}
.foodcard b {
  color: #fff;
  font-size: 30px;
  font-family: "sofia";
}
.foodcard p {
  color: rgb(177, 3, 3);
  font-family: arial;
  font-size: 20px;
  font-weight: 700;
}
.orderbtn {
  color: #fff;
  background: rgb(218, 37, 37);
  border: none;
  width: 400px;
  height: 50px;
  box-shadow: 0px 0px 10px 0px #fff;
  border-radius: 5px;
  font-family: "sofia";
  font-size: 20px;
}
.discount-container {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.918);
  overflow: hidden;
  text-align: center;
}
#dst {
  color: rgb(218, 37, 37);
  font-family: "sofia";
  font-size: 50px;
  font-weight: 1000;
  display: block;
  padding-top: 20px;
}
.discount-container img {
  width: 200px;
}
.discount-container p {
  color: #fff;
  font-size: 25px;
  font-family: "sofia";
}
.news {
  width: 100%;
  height: auto;
  background: rgb(177, 3, 3);
}
.contact-container {
  width: 100%;
  height: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.918);
  overflow: hidden;
}
.contact-container input {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 450px;
  border: none;
  padding: 15px;
  font-family: "sofia";
  font-size: 15px;
  box-shadow: 0px 0px 10px 0px #fff;
}
.contact-container textarea {
  width: 450px;
  height: 150px;
  border: none;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0px 0px 10px 0px #fff;
}
::placeholder {
  color: rgb(177, 3, 3);
  font-family: "sofia";
  font-size: 17px;
}
button,
input,
textarea {
  outline: 0;
}
.contact-container button {
  color: #fff;
  background: rgb(177, 3, 3);
  width: 200px;
  height: 50px;
  margin-top: 50px !important;
  border: none;
  box-shadow: 0px 0px 10px 0px #fff;
  font-family: "sofia";
  font-size: 17px;
  border-radius: 5px;
  margin-bottom: 50px;
  transition-duration: 0.5s;
}
.contact-container button:hover {
  box-shadow: 0px 0px 20px 0px #fff;
  background: rgb(0, 215, 223);
}
.contact-container p {
  display: block;
  color: #fff;
  font-family: "sofia";
  font-size: 40px;
}

footer {
  width: 100%;
  height: 350px;
  background: rgba(0, 0, 0, 0.918);
}
.damn {
  display: flex;
  width: 100%;
  height: 90%;
}

#ftlogo {
  color: rgb(177, 3, 3);
  font-family: "sofia";
  font-weight: 1000;
  font-size: 30px;
  padding: 5px;
}
#sutitle {
  color: #ccc;
  font-family: agency fb;
  font-weight: 700;
  text-align: left;
  display: block;
  padding-left: 10px;
}
.ft {
  width: 25%;
  height: 200px;
  margin: auto;
  text-align: center;
}
#support a,
#links a {
  display: block;
  text-align: left;
  padding-left: 10px;
  color: #fff;
  font-family: agency fb;
  padding-bottom: 5px;
}
.ft a i {
  background: #fff;
  color: rgb(177, 3, 3);
  margin: 5px;
  padding: 15px;

  border-radius: 100%;
}
#copy {
  display: block;
  text-align: center;
  font-size: 17px;
  font-family: "sofia";
  color: #fff;
}
.ft input {
  margin-top: 20px;
  width: 290px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  font-family: "sofia";
  font-size: 15px;
  box-shadow: 0px 0px 10px 0px #fff;
}
.ft input::placeholder {
  font-size: 15px;
  color: rgb(165, 161, 161);
}
.ft button {
  margin-top: 30px;
  width: 150px;
  color: #fff;
  background: rgb(177, 3, 3);
  border: none;
  border-radius: 3px;
  height: 40px;
  font-family: "sofia";
  box-shadow: 0px 0px 10px 0px #fff;
}
.ft a {
  transition-duration: 0.5s;
}
.close {
  text-align: center;
  color: rgb(177, 3, 3) !important;
  font-size: 20px !important ;
  display: none;
}
#twitter i,
#instagram i,
#youtube i,
#youtube,
#twitter,
#instagram {
  transition-duration: 0.5s;
}
#twitter i:hover {
  background: #1da1f2;
  color: #fff;
  box-shadow: 0px 0px 10px 0px #fff;
}
#youtube i:hover {
  background: #ff0000;
  color: #fff;
  box-shadow: 0px 0px 10px 0px #fff;
}
#instagram i:hover {
  color: #fff;
  background: linear-gradient(120deg, #ffb64d, #cd36a2, #495fca);
  box-shadow: 0px 0px 10px 0px #fff;
}
#lll {
  width: 100px;
}

.pppp {
  display: none;
}

.nv {
  width: 50px;
  height: 50px;
  float: right !important;
  margin-right: 20px;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  border-radius: 100%;
  margin-top: -55px;
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(177, 3, 3);
}
::-webkit-scrollbar-thumb:hover {
  background: #8bc34a;
}
#pppp {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: none;
  position: fixed;
}
.ordercard {
  width: 650px;
  height: auto;
  box-shadow: 0px 0px 50px 0px #000;
  margin: auto;
  background: rgba(0, 0, 0, 0.918);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px;
  text-align: center;
  border-radius: 50px;
}
#tone {
  color: rgb(177, 3, 3);
  font-weight: 1000;
  font-family: "sofia";
  display: block;
  font-size: 30px;
  margin: 5px;
}

.ord {
  width: 250px;
  height: 50px;
  color: #fff;
  font-family: "sofia";
  background: rgb(177, 3, 3);
  border: none;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-size: 17px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px #fff;
}
#totalprice {
  color: rgb(177, 3, 3);
  font-family: "sofia";
  font-size: 25px;
  display: block;
}
#qqq,
#qu {
  color: #fff;
  display: inline;
  font-family: "sofia";
  margin: 10px;
  font-size: 20px;
}
.nx,
.prv {
  color: #fff;
  background: rgb(177, 3, 3);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  margin: auto !important;
  box-shadow: 0px 0px 10px 0px #fff;
}
.ordercard img {
  height: 200px;
  display: block;
  margin: auto !important ;
}

@media (max-width: 1289px) {
  .ft input {
    width: 87%;
  }
}
@media (max-width: 749px) {
  .ft a i {
    padding: 10px;
    font-size: 15px;
  }
  #ftlogo {
    font-size: 25px;
  }
}
@media (max-width: 560px) {
  #support,
  #links {
    display: none;
  }
  .damn {
    display: flex !important ;
    flex-direction: column;
  }
  .ft {
    height: auto;
    width: 100% !important;
  }
  #scl {
    position: relative;
    display: block !important ;

    height: auto;
  }
  footer {
    height: 400px;
  }
  #news {
    float: left;
    display: block !important ;
    margin-top: -20px;
  }
}

@media (max-width: 1064px) {
  .navbar {
    display: none;
    width: 100%;
    height: auto;
    margin: auto !important;
    background: rgba(0, 0, 0, 0.877);
    position: absolute !important;
    margin-top: 20px !important;
    z-index: 1;
    padding: 0;
    padding-bottom: 20px;
  }
  .close {
    display: block;
  }
  .signin,
  .signup {
    text-align: center;
    padding-right: 5px !important;
    padding-left: 5px !important;
    margin: auto !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }
  .navbar a {
    display: block;
    font-size: 15px;
  }
  header {
    display: block !important;
  }
  .nv {
    display: block;
  }
}
@media (min-width: 1065px) {
  .navbar {
    display: block !important;
  }
}
@media (max-width: 891px) {
  .home-text p {
    font-size: 30px;
  }
  .explorebtn {
    padding: 10px 60px 10px 60px;
    font-size: 15px;
    margin-top: 20px;
  }
}
@media (max-width: 663px) {
  .home-text p {
    font-size: 18px;
  }
  .explorebtn {
    font-size: 14px;
    padding: 7px 55px 7px 55px;
    display: block;
    width: 100px;
    margin: auto;
    height: auto;
    margin-top: 10px;
  }
}

@media (max-width: 997px) {
  .foodcard {
    width: 25%;
  }
  .foodcard p {
    font-size: 15px !important;
  }
  .foodcard b {
    font-size: 20px;
  }
  .foodcard img {
    height: 90px !important;
  }
  .foodcard button {
    width: 150px;
    font-size: 15px;
  }
}
/*keep writing under this comment for the cards*/

@media (max-width: 700px) {
  .news p {
    font-size: 17px;
  }
  #dst {
    font-size: 30px;
  }
  .discount-container img {
    width: 150px;
  }
}
@media (max-width: 739px) {
  #con {
    font-size: 30px;
  }
}
@media (max-width: 558px) {
  #con {
    font-size: 23px;
  }
  .contact-container form input,
  .contact-container form textarea {
    width: 80%;
    font-size: 13px !important;
    padding: 10px !important;
    margin-bottom: 20px;
  }
  .contact-container button {
    width: 120px;
  }
}

@media (max-width: 620px) {
  .foodcard {
    width: 25%;
  }
  .foodcard p {
    font-size: 10px !important;
  }
  .foodcard b {
    font-size: 15px;
  }
  .foodcard img {
    height: 50px !important;
  }
  .foodcard button {
    width: 120px;
    font-size: 10px;
  }
}
@media (max-width: 481px) {
  .foodcard {
    width: 22%;
  }
  .foodcard p {
    font-size: 9px !important;
  }
  .foodcard b {
    font-size: 9px;
  }
  .foodcard img {
    height: 40px !important;
  }
  .foodcard button {
    width: 90px;
    font-size: 10px;
  }
}
@media (max-width: 355px) {
  .foodcard {
    width: 20%;
  }
  .foodcard p {
    font-size: 9px !important;
  }
  .foodcard b {
    font-size: 9px;
  }
  .foodcard img {
    height: 40px !important;
  }
  .foodcard button {
    width: 70px;
    font-size: 8px;
  }
}
@media (max-width: 808px) {
  .ordercard {
    width: 80% !important;
  }
}
@media (max-width: 376px) {
  .ordercard img {
    height: 140px;
  }
  .ord {
    width: 120px;
  }
}
